.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

nav {
    flex: 1;
    align-items: center;
    margin-top: 2px;
    margin-left: 600px;
}


nav a {
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.logo {
    width: 10%;
    height: 10%;
}




.logo img {
    width: 250px;
    height: 150px;
    border-radius: 50%;
}

.name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;


}

img {
    width: 100%;
    height: 700px;
}

.content {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin-left: 100px;
    height: 400px;
    margin-right: 20px;
    padding: 100px;
}

p {
    width: 60%;
    font-size: 25px;
}

h3 {
    color: gray;
    font-size: 50px;
    margin-left: 100px;
}

button {
    margin: auto;
    display: block;
    width: 150px;
    height: 50px;
    background-color: coral;
    border-radius: 10px;
    font-size: 20px;
}

.perimeter {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: 400px;

}

.perimeter img {
    width: 100%;
    height: 600px;
    margin-right: 300px;
}

.peri {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.message {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 100px;
    align-items: center;
    width: 100%;
    height: 200px;


}

.m1 {
    height: 50px;
    width: 30%;
    margin-right: 100px;
    color: darkgreen;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.m1 img {
    height: 500px;
    width: 100%;

}

.his {
    font-family: 'Times New Roman', Times, serif;
    flex: 1;
    font-size: 25px;
    margin-top: 800px;
    font-weight: 2px;
    margin-right: 100px;
}

body {
    background-color: #f5f5dc;
}

.contact {
    height: 400px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.cons {
    margin-left: 100px;
    color: darkgreen;

}

form {
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.cons button {
    margin-top: 20px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 50px;
}

.con img {
    border-radius: 10px;
    margin-right: 400px;
    height: 600px;
}

.getus {
    margin-top: 300px;
    justify-content: center;
    text-align: center;
    display: block;

}

.getus img {
    width: 5%;
    height: 5%;
    border-radius: 50%;
}

.getus1 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkolivegreen;
}

.getus2 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkolivegreen;
}

.getus3 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkolivegreen;
}

.getus4 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkolivegreen;
}

.about {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: darkcyan;
    margin-top: 50px;
}

.about img {
    align-items: center;
    margin-left: 400px;
    margin-top: 100px;
    margin-right: 300px;
    border-radius: 10%;
}

.same img {
    width: 40%;
    height: 40%;
    padding: 70px;
}

.same {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.another {
    height: 600px;
}

.another img {
    height: 600px;
}

.newsheader {
    text-align: center;
    width: 100%;
    color: darkgreen;
    font-weight: 100;
    font-size: x-large;

}

.newsheaderimg {
    width: 10%;
}

.talent {
    width: 40%;
    margin-left: 550px;

}

.Agriculture {
    width: 40%;
    margin-left: 550px;

}

.sports {
    width: 40%;
    margin-left: 550px;

}

.mdd {
    width: 40%;
    margin-left: 550px;

}

.womens {
    width: 40%;
    margin-left: 550px;

}

.womens img {
    height: 250px;
    border-radius: 50%;
    margin-top: 40px;
}

.mdd img {
    height: 250px;
    border-radius: 50%;
    margin-top: 40px;
}

.sports img {
    height: 250px;
    border-radius: 50%;
    margin-top: 40px;
}

.Agriculture img {
    height: 250px;
    border-radius: 50%;
    margin-top: 40px;
}

.talent img {
    height: 250px;
    border-radius: 50%;
    margin-top: 40px;
}

.newsheader input {
    width: 350px;
    height: 30px;
}

.foo {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    height: 120px;
    background-color: darkslategrey;
    color: antiquewhite;
    font-size: large;
    height: 200px;
    margin-top: 750px;

}

.prog {
    margin-left: 40px;
}

.contacts {
    margin-right: 40px;
}

.links {
    margin-right: 40px;
    margin: 15px;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    padding: 5px;
}

.foot {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    height: 120px;
    background-color: darkslategrey;
    color: antiquewhite;
    font-size: large;
    height: 200px;
}

.staff h4 {
    text-align: center;
    font-size: xx-large;
    color: darkslategray;
}

.foots {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    height: 120px;
    background-color: darkslategrey;
    color: antiquewhite;
    font-size: large;
    height: 200px;
    margin-top: 50px;
}